#game-screen {
  height: auto;
  margin-top: -30px;
}

#game-canvas {
  margin: 0 auto 20px;
  display: block;
  box-shadow: 1px 0 18px #dae3e7;
}

#score {
  margin: 0 auto 30px;
  width: 200px;
  text-align: center;
  font-size: 3.5em;
  color: #545e69;
  font-weight: 100;
}

#count-down-timer-container {
  margin: 0 auto 20px;
  width: 200px;
  text-align: center;
  color: #434343;
  font-size: 2em;
  font-weight: 100;

  span:empty:before {
    content: "\200b";
  }
}
