@import "base", "menu-main", "menu-game", "game", "colors";

html, body {
  height: 100%;
  margin: 0;
}

body {
  background-color: var(--background-color);
  color: var(--main-text-color);
}

.game-container {
  height: 100%;
}

.screen {
  opacity: 0;
  visibility: hidden;
  display: none;

  width: 100%;
  height: 100%;
  position: relative;
  top: 47%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.active-screen {
  opacity: 1;
  visibility: visible;
  display: block;
}

#github-button {
  margin-top: 3px;
  margin-right: 9px;
  .icss {
    color: #aca79a;
    font-size: 1.7em;
  }
}
