@import "base", "menu", "game", "colors";

html, body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  background-color: #2c3e50;
  color: $light-grey;
  font-family: sans-serif;
  line-height: 1.4;

  a {
    display: inline-block;
    color: $light-grey;
  }
}
