#main-menu-screen {
  height: auto;
}

.main-menu-button {
  margin: 0 auto 20px;
  border: 1px solid var(--game-menu-button-border-color);
  border-radius: 30px;
  width: 200px;
  text-align: center;
  color: var(--game-menu-button-color);
  padding: 15px;
  background-color: transparent;
  cursor: pointer;
  font: normal normal normal 1em helveticaneuew01-55roma, sans-serif;
}

.main-menu-button:hover {
  color: #3AAA64;
}
