@import "widgetts/mute-button", "widgetts/dark-mode-toggle";

#game-menu {
  display: flex;
  align-content: baseline;
  justify-content: end;
  margin-right: 100px;
}

.game-menu-button {
  display: inline-block;
  margin-right: 8px;
  cursor: pointer;

  img {
    width: 30px;
  }
}

#go-to-main-menu-button {
  #close-button {
    width: 29px;
    height: 29px;
  }

  .close-button-first-line {
    height: 29px;
    width: 3px;
    margin-left: 12px;
    background-color: var(--game-menu-icon-color);
    transform: rotate(45deg);
    Z-index: 1;
  }

  .close-button-second-line {
    height: 29px;
    width: 3px;
    background-color: var(--game-menu-icon-color);
    transform: rotate(90deg);
    Z-index: 2;
  }
}

#github-button {
  margin-top: 3px;
  margin-right: 9px;
  .icss {
    color: var(--game-menu-icon-color);
    font-size: 1.7em;
  }
}


