#main-menu-screen {
  height: auto;
}

.main-menu-button {
  margin: 0 auto 20px;
  border: 1px solid #32babc;
  border-radius: 30px;
  width: 200px;
  text-align: center;
  color: #3AAA64;
  padding: 15px;
  background-color: #fff;
  cursor: pointer;
  font: normal normal normal 1em helveticaneuew01-55roma, sans-serif;
}
