@import "colors";

#main-menu-screen {
  height: auto;
}

.main-menu-button {
  margin: 0 auto 20px;
  width: 200px;
  border-radius: 3px;
  text-align: center;
  clear: both;
  padding: 10px;
  background-color: rgba($light-grey, .3);
  cursor: pointer;
}

#game-menu {
  display: flex;
  align-content: baseline;
  justify-content: end;
  margin-right: 100px;
}

.game-menu-button {
  display: inline-block;
  margin-right: 8px;
  cursor: pointer;

  img {
    width: 30px;
  }
}
